@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <b>
        <h1>Contact Us</h1>
    </b>

  
    <p>For inquiries, orders, or any other information, please contact us using the details below:</p>
    <ul>
        <li>Email: info@khumalocrafts.com</li>
        <li>Phone: 0808 600 340</li>
        <li>Address: 22 Carolina Crerscent, Woodlands, Durban, 4004</li>
    </ul>
    <p>We look forward to hearing from you!</p>
</div>
