@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<b>
    <h1>Handmade Craftwork by Khumalo Crafts Emporium</h1>
</b>
<div class="row">
    <div class="col-md-4">
        <img src="/images/item1.jfif" alt="Craftwork 1" class="img-fluid">
        <p>Craftwork 1</p>
        <p>description</p>
        <p>Price: R1003.00</p>
    </div>
    <div class="col-md-4">
        <img src="/images/item2.jfif" alt="Craftwork 2" class="img-fluid">
        <p>Craftwork 1</p>
        <p>description</p>
        <p>Price: R1507.00</p>
    </div>
    <div class="col-md-4">
        <img src="/images/item3.jfif" alt="Craftwork 3" class="img-fluid">
        <p>Craftwork 1</p>
        <p>description</p>
        <p>Price: R546.00</p>
    </div>
